/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.playfair-serif {
    font-family: 'Playfair Display', serif;
}
.oswald-sans {
    font-family: 'Oswald', sans-serif;
}
.cursor-pointer:hover {
    cursor: pointer;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.grid-wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.test {
    border: solid 1px red;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-lg {
    width: 90%;
    margin: 0 auto;
}
.container-sm {
    width: 50%;
    margin: 0 auto;
}
.container-md {
    width: 70%;
    margin: 0 auto;
}
.z-index1 {
    z-index: 1;
}
.z-index2 {
    z-index: 2;
}
.text-white {
    color: #fff !important;
}
.text-blue {
    color: #00cbd8;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.btn-blue {
    font-family: 'Oswald', sans-serif;
    background-color: #00cbd8;
    color: #fff;
    padding: 0.5em;
    width: 14em;
}
.divider {
    background-color: #333;
    width: 250px;
    height: 1px;
    margin: 0 auto;
}
.divider:after {
    content: "";
    background-color: #00cbd8;
    width: 70px;
    height: 4px;
    margin: 0 auto;
    display: block;
    transform: translateY(-40%);
}
.title {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* header */
header {
    height: 70px;
    background-color: transparent;
    top: 20px;
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: 0.5s all;
}
header .logo {
    color: #fff;
}
header .logo span {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding-left: 5px;
    width: 150px;
    line-height: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
header .logo span i {
    font-style: normal !important;
}
header .logo img {
    width: 40px;
    border-radius: 50%;
}
header .header-container {
    position: relative;
    height: 100%;
}
header .menu {
    right: 0;
    background-color: transparent;
    border: none;
}
header .menu img {
    width: 25px;
}

/* nav */
nav {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    display: none;
}
nav ul li {
    padding: 12px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
nav ul li + li {
    border-top: 1px solid #eee;
}

/* showcase */
.showcase {
    height: 100vh;
    position: relative;
    background-color: #000;
}
.showcase img {
    height: 100%;
}
.showcase .fade {
    height: 100%;
}
.showcase .fade div {
    height: 100%;
}
.showcase .fade div img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
}
.showcase .fade div p {
    width: 100%;
}
.showcase .fade div p .first-child {
    font-size: 14px;
    font-style: italic;
}
.showcase .fade div p span {
    font-size: 30px;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
}
.showcase .fade div p .last-child {
    font-size: 20px;
}
.showcase .fade div p a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin: 3px auto;
}
.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.slick-prev {
    background: url("images/prev.png") center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}
.slick-next {
    right: 0;
    background: url("images/next.png") center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

/* about */
.main {
    background-color: #fff;
}
.main .about {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -85px;
    bottom: 0px;
    height: 100%;
}
.main .about img {
    width: 85%;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    margin-bottom: 40px;
}

/* animations */
.showcase-text {
    animation-name: caption;
    animation-duration: 1s;
}
@keyframes caption {
    0% {opacity: 0;}
    100% {opacity: 1;}
}