/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20px, auto);
    background-color: #F5F5F5;
    letter-spacing: 0.05em;
}
/* header */
header {
    border: 1px #000 solid;
    grid-row: 1/6;
    position: relative;
    background-color: #FEDCEC;
    z-index: 1;
}
header h1 {
    font-family: 'Parisienne', cursive;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 15%;
    font-size: 36px;
}
header h1 a {
    text-decoration: none;
    color: #000;
}
header h4 {
    font-family: 'Ovo', serif;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
/* nav */
nav {
    grid-row: 6/8;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
nav ul {
    display: none;
}
nav #call {
    width: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
nav #phone-number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
nav #menu {
    width: 26px;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
nav #menu:hover {
    cursor: pointer;
}
#toggle-nav {
    border: 1px #000 solid;
    grid-row: 8/20;
    position: fixed;
    width: 70%;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    z-index: 2;
    transition: transform 0.5s;
}
#toggle-nav #wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
#toggle-nav #wrapper #x {
    width: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
}
#toggle-nav #wrapper #x:hover {
    cursor: pointer;
}
#toggle-nav ul {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
#toggle-nav ul li {
    padding: 10%;
    list-style: none;
    text-align: center;
}
#toggle-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: normal;
}
/* showcase */
#showcase {
    grid-row: 8/20;
    position: relative;
    background-color: #000;
}
#showcase .slides h1 {
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Spinnaker', sans-serif;
    font-weight: normal;
    padding: 5px;
    letter-spacing: 0.05em;
    top: 10%;
    left: 5%;
    z-index: 1;
}
#showcase .slides .gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
}
#showcase #left {
    width: 35px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
#showcase #left:hover {
    cursor: pointer;
}
#showcase #right {
    width: 35px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
#showcase #right:hover {
    cursor: pointer;
}
/* deals */
#deals {
    grid-row: 21/35;
    position: relative;
    margin-top: 15px;
}
#deals h1 {
    text-align: center;
    font-weight: normal;
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#deals #white-box {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    margin-top: 10px;
}
#deals #mon-wed {
    grid-column: 1/13;
    grid-row: 4/12;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 70%;
    margin: 0 auto;
}
#deals #mon-wed h3 {
    font-size: 20px;
    font-weight: normal;
}
#deals #mon-wed .separate {
    position: relative;
    top: 30%;
}
.separate p span {
    color: #F73F05;
}
/* organic */
#organic {
    grid-row: 35/50;
}
#organic ul {
    position: relative;
    top: 5px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}
#organic ul li {
    display: inline;
    font-size: 18px;
}
#organic #pink-box {
    background-color: #FEDCEC;
    text-align: center;
    min-height: 200px;
}
#organic #pink-box h3 {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
    padding-top: 5px;
}
#organic #pink-box p {
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 19px;
    letter-spacing: 0.05em;
}
/* new */
#new {
    grid-row: 50/65;
    background-color: #292929;
    position: relative;
}
#new h1 {
    font-family: 'Aguafina Script', cursive;
    color: #fff;
    font-weight: normal;
    font-size: 64px;
    position: relative;
    top: 10px;
    left: 30px;
}
#new h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #F73F05;
    position: absolute;
    right: 10%;
}
#new p {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
#new ul {
    color: #fff;
    font-family: 'Signika Negative', sans-serif;
    font-weight: normal;
    position: absolute;
    bottom: 25px;
    font-size: 14px;
    width: 250px;
    line-height: 19px;
    letter-spacing: .05em;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}
#new ul li::before {
    content: "- ";
}
/* hours */
#hours {
    grid-row: 65/80;
    margin-top: 20px;
}
#hours h2 {
    font-family: 'Unica One', cursive;
    font-weight: normal;
    float: right;
    padding-right: 20px;
}
#hours #hours-pic {
    width: 100%;
}
#quote {
    grid-row: 80/85;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
#quote h1 {
    font-family: 'Signika Negative', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
}
/* footer */
footer {
    grid-row: 85/95;
    background-color: #DDDCDC;
    padding-top: 20px;
}
footer h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}
footer ul {
    text-align: center;
    padding: 30px 0;
}
footer ul li {
    display: inline;
    padding: 30px;
}
footer ul li a .icons {
    width: 30px;
}
footer .copyright {
    background-color: #292929;
    height: 100%;
}
.copyright p {
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 30px 0;
}
/* services */
#waxing {
    grid-row: 8/10;
    margin-top: 5%;
}
#manicure {
    grid-row: 10/30;
}
#pedicure {
    grid-row: 30/50;
}
#children {
    grid-row: 50/60;
}
#services-footer {
    grid-row: 65;
}
.table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
}
.table tr:nth-child(odd) {
    background-color: #FDE9F3;
}
.table tr th {
    background-color: #292929;
    width: 200%;
    color: #fff;
    font-family: 'Unica One', cursive;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.05em;
    text-align: right;
    padding: 5px 5% 5px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.table tr td {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    width: 100%;
    letter-spacing: 0.05em;
    padding: 1px 5px;
}
.table tr td:nth-child(2) {
    text-align: right;
}
.table tr td p {
    font-size: 14px;
    line-height: 23px;
    color: #A4A4A4;
    font-family: 'Signika Negative', sans-serif;
    font-weight: normal;
}
/* book */
.black {
    background-color: #2B2B2B !important;
}
.success {
    grid-row: 8/9;
    color: #fff;
    background-color: #09e818;
    padding: 10px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
.failed {
    grid-row: 8/9;
    color: #fff;
    background-color: #F70505;
    padding: 10px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
#make-appointment {
    grid-row: 9/10;
    font-family: 'Dosis', sans-serif;
}
#make-appointment h1 {
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    margin-bottom: 15px;
}
.main-form {
    font-family: 'Aguafina Script', cursive;
    color: #fff;
}
.main-form input, .main-form textarea {
    background-color: #2B2B2B;
    border: none;
    border-bottom: 1px #fff solid;
    font-size: 21px;
    line-height: 41px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 10px;
}
.main-form input::placeholder, .main-form textarea::placeholder {
    font-family: 'Aguafina Script', cursive;
    color: #fff;
    font-size: 21px;
}
#book-form .radio-container {
    position: relative;
    border-bottom: 1px #fff solid;
}
#book-form #phone-number {
    margin-bottom: 20px;
}
#book-form {
    grid-row: 10/30;
    width: 85%;
    margin: 0 auto;
}
#book-form label {
    font-size: 21px;
    margin-left: 15%;
}
#book-form input[type="radio"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -48%;
    z-index: 1;
    opacity: 0;
}
#book-form input[type="radio"]:hover {
    cursor: pointer;
}
#book-form .circle {
    border: 2px #fff solid;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: inline-block;
    border-radius: 50%;
}
#book-form input[type="radio"]:checked + .circle {
    background-color: #fff;
}
.submit {
    width: 100%;
    padding: 5px 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 21px;
    background-color: #fff;
    border: none;
    margin-top: 5px;
}
.submit:hover {
    cursor: pointer;
    background-color: #2B2B2B;
    color: #fff;
    border: 2px #fff solid;
    transition: 0.2s ease;
}
#booking-notice {
    grid-row: 31/38;
    width: 85%;
    margin: 0 auto;
}
.notice {
    border: 2px #F70505 solid;
    color: #fff;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 10px;
}
#booking-notice p:nth-child(2) {
    margin-top: 25px;
}
#book-footer {
    grid-row: 42;
}
/* contact */
#let-us-know {
    grid-row: 9/10;
}
#let-us-know h1 {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}
#contact-form {
    grid-row: 11/25;
    width: 85%;
    margin: 0 auto;
}
#contact-info {
    grid-row: 26/50;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 85%;
    margin: 5% auto;
}
#contact-info ul {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
#contact-info ul li {
    list-style: none;
}
#contact-info .inline-logos {
    display: inline;
}
#contact-info ul:nth-child(2) {
    margin: 5% 0;
}
#contact-info ul .inline-logos + .inline-logos {
    padding-left: 5%;
}
#contact-info ul li a img {
    width: 36px;
}
#map {
    grid-row: 51/60;
    width: 85%;
    margin: 0 auto;
}
#contact-notice {
    grid-row: 61/64;
    width: 85%;
    margin: 0 auto;
}
#contact-footer {
    grid-row: 70;
}
/* media queries */
@media screen and (max-width: 320px) {
    #toggle-nav ul {
        margin-top: 5%;
    }
    #organic ul li {
        font-size: 16px;
    }
    #new p {
        margin-top: 5%;
    }
}
@media screen and (max-width: 375px) {
    #showcase .slides h1 {
        font-size: 21px;
    }
}
@media screen and (min-width: 375px) {
    #quote {
        position: relative;
    }
    #quote h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}
@media screen and (min-width: 425px) {
    #new {
        position: relative;
    }
    #new h1 {
        position: absolute;
        top: 10%;
        left: 30px;
    }
    #new h2 {
        position: absolute;
        top: 20%;
        left: 140px;
        width: 70%
    }
    #new p {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 20%;
        width: 80%;
    }
    #new ul {
        position: absolute;
        top: 50%;
        left: 60%;
    }
    .table tr th {
        padding-right: 10%;
    }
}
@media screen and (min-width: 768px) {
    nav #phone-number {
        left: 10%;
    }
    #hours h2 {
        font-size: 48px;
    }
    #quote h1 {
        font-size: 24px;
        line-height: 30px;
    }
    #showcase h1 {
        font-size: 36px;
    }
    #organic #pink-box p {
        line-height: 25px;
    }
    #toggle-nav ul {
        margin-top: 10%;
    }
    #toggle-nav ul li {
        padding: 5%;
    }
    #deals #white-box #mon-wed h3 {
        font-size: 28px;
    }
    #deals #white-box .separate p {
        font-size: 21px;    
    }
    .table tr td {
        padding: 0 20px;
    }
}
@media screen and (min-width: 768px) , screen and (min-width: 1023px) {
    #organic #pink-box p {
        width: 70%;
    }   
    #showcase .slides h1 {
        left: 10%;
    }
}
@media screen and (max-height: 860px) and (min-width: 1024px) {
    #deals #white-box {
        margin-top: 5%;
    }
    #deals #white-box #mon-wed .separate > p {
        font-size: 48px;
    }
}
@media screen and (max-height: 495px) and (min-width: 1024px) {
    #deals {
        padding-bottom: 50%;
    }
}
@media screen and (min-width: 1024px) {
    #container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(20px, auto);
    }
    header {
        grid-column: 1/7;
    }
    header h1, header h4 {
        margin-bottom: 10px;
    }
    header h1 {
        font-size: 48px;
    }
    header h4 {
        font-size: 18px;
    }
    nav {
        grid-column: 1/7;
        position: relative;
    }
    nav ul {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 18px;
    }
    nav ul li {
        display: inline;
        padding: 20px;
    }
    nav ul li a {
        text-decoration: none;
        color: #000;
    }
    nav ul li:nth-child(n):hover {
        font-size: 20px;
        transition: 0.2s ease;
    }
    nav #menu {
        display: none;
    }
    nav #phone-number {
        left: 8%;
    }
    #showcase {
        grid-column: 1/7;
        height: 80vh;
    }
    #showcase #right {
        width: 48px;
    }
    #showcase #right:hover {
        width: 50px;
    }
    #showcase #left {
        width: 48px;
    }
    #showcase #left:hover {
        width: 50px;
    }
    #showcase h1 {
        font-size: 48px;
        left: 10%;
    }
    #deals {
        grid-column: 1/7;
        height: 100vh;
    }
    #deals h1 {
        font-size: 120px;
        text-align: left;
        padding-left: 10%;
    }
    #deals #white-box {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }
    #deals #white-box #mon-wed {
        width: 100%;
    }
    #deals #white-box #mon-wed h3 {
        font-size: 72px;
    }
    #deals #white-box .separate p {
        font-size: 64px;
        width: 75%;
        margin: 0 auto;
    }
    #organic {
        grid-column: 4/7;
        grid-row: 36/50;
        margin: 0 5%;
        position: relative;
        bottom: 20px;
    }
    #organic #pink-box {
        height: 280px;
    }
    #organic ul li {
        font-size: 24px;
    }
    #organic #pink-box h3 {
        font-size: 24px;
    }
    #organic #pink-box p {
        font-size: 18px;
        width: 85%;
        line-height: 30px;
    }
    #new {
        grid-column: 1/4;
        grid-row: 36/50;
        margin-left: 5%;
        position: relative;
        bottom: 20px;
    }
    #new p {
        font-size: 18px;
        width: 75%;
    }
    #new ul li {
        font-size: 16px;
        width: 500px;
        line-height: 30px;
        letter-spacing: 0.05em;
    }
    #hours {
        grid-column: 3/5;
        grid-row: 50/65;
        width: 500px;
        margin: 0 auto;
    }
    #quote {
        grid-column: 1/7;
        grid-row: 65/85;
    }
    #quote h1 {
        font-size: 48px;
        line-height: 87px;
    }
    footer {
        grid-column: 1/7;
        position: relative;
    }
    footer h1 {
        text-align: left;
        font-size: 28px;
        line-height: 42px;
        padding: 0 0 20px 20px;
    }
    footer ul {
        text-align: right;
        padding: 0;
        position: absolute;
        top: 25%;
        right: 5%;
    }
    footer ul li a .icons {
        width: 38px;
    }
    footer .copyright {
        padding: 25px 0;
    }
    #waxing {
        grid-column: 1/4;
        grid-row: 8/10;
        margin: 5% 5% 5% 20%;
    }
    #manicure {
        grid-column: 4/7;
        grid-row: 8/11;
        margin: 5% 20% 0 0;
    }
    #pedicure {
        grid-column: 1/4;
        grid-row: 10/20;
        margin: 0 5% 0 20%;
    }
    #children {
        grid-column: 4/7;
        grid-row: 15/20;
        margin-right: 20%;
    }
    #services-footer {
        grid-row: 25;
    }
    .table tr th {
        text-align: center;
        padding-right: 0;
    }
    .success {
        grid-column: 1/7;
    }
    .failed {
        grid-column: 1/7;
    }
    #make-appointment {
        grid-column: 2/5;
        margin: 5% 5% 0 0;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    #make-appointment h1 {
        font-size: 52px;
    }
    #book-form {
        grid-column: 4/6;
        grid-row: 12/30;
        width: 100%;
        margin-left: 10px;
    }
    #book-form #message {
        height: 150px;
    }
    #booking-notice {
        grid-column: 2/4;
        grid-row: 12/20;
        margin-top: 20%;
        width: 75%;
    }
    #booking-notice p {
        font-size: 16px;
        line-height: 26px;
    }
    .desktop-submit{
        width: 100px;
        display: block;
        margin: 0 auto;
    }
    #let-us-know {
        grid-column: 2/5;
        grid-row: 10/12;
    }
    #let-us-know h1 {
        font-size: 64px;
        text-align: left;
    }
    #contact-form {
        grid-column: 2/4;
        grid-row: 13/30;
    }
    #contact-form .submit {
        width: 100px;
        display: block;
        margin: 0 auto;
    }
    #contact-info {
        grid-column: 4/5;
        grid-row: 13/30;
        width: 90%;
        margin: 0;
        margin-right: 10px;
    }
    #contact-info ul li {
        font-size: 14px;
    }
    #contact-info ul li a img {
        width: 32px;
    }
    #map {
        grid-column: 5/6;
        grid-row: 13/25;
        width: 100%;
    }
    #contact-notice {
        grid-column: 5/6;
        grid-row: 26/28;
        width: 100%;
    }
    #contact-footer {
        grid-row: 35;
    }
}
@media screen and (min-width: 1440px) {
    #showcase h1 {
        font-size: 64px;
    }
    #new h1 {
        font-size: 72px;
    }
    #new h2 {
        font-size: 40px;
        padding-left: 15px;
    }
    #new h1, #new h2 {
        margin-left: 15%;
    }
    #hours #hours-pic {
        width: 600px;
    }
    #hours h2 {
        padding: 0;
        font-size: 64px;
    }
    #quote h1 {
        font-size: 64px;
    }
    #booking-notice p {
        line-height: 28px;
    }
    #make-appointment h1 {
        font-size: 64px;
    }
}
@media screen and (min-width: 1880px) {
    #new h1, #new h2 {
        margin-left: 25%;
    }
    #organic #pink-box p {
        line-height: 2.5em;
    }
}
/* animations */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}
#showcase .slides h1 {
    animation-name: caption;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes caption {
    0% {left: 0%;}
    100% {left: 5%;}
}
@media screen and (min-width: 768px) {
    @keyframes caption {
        0% {left: 0%;}
        100% {left: 10%;}
    }
}
header h1, header h4 {
    animation-name: title;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes title {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#waxing, #pedicure {
    position: relative;
    animation-name: left-tables;
    animation-duration: 0.5s;
}
@keyframes left-tables {
    0% {left: -100%;}
    100% {left: 0%;}
}
#manicure, #children {
    position: relative;
    animation-name: right-tables;
    animation-duration: 0.5s;
}
@keyframes right-tables {
    0% {right: -100%;}
    100% {right: 0%;}
}
#make-appointment {
    position: relative;
    animation-name: title-down;
    animation-duration: 1s;
}
@keyframes title-down {
    0% {top: -150%;}
    100% {top: 20%;}
}
#let-us-know {
    position: relative;
    animation-name: title-down2;
    animation-duration: 1s;
}
@keyframes title-down2 {
    0% {top: -200%;}
    100% {top: 0%;}
}